@import '../../global/style/variables';

$root: '.side-nav-bar';

#{$root} {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: rgb(226, 108, 30);
  background-image: linear-gradient(rgb(226, 108, 30), rgb(233, 101, 167));

  @media screen and (max-width: 425px) {
    display: none;
  }

  .logo {
    color: #fff;
    margin-bottom: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 100%;
      height: 50%;
    }
  }

  &_menu-items {
    display: flex;
    flex-direction: column;

    .items {
      position: relative;
      padding: 20px;
      cursor: pointer;

      svg {
        color: #fff;
      }

      &.active:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
      }
    }
  }
}
