@import '../../../global/style/variables', '../../../global/style/mixins';

$root: '.contact-details-card';

#{$root} {
  display: flex;
  flex-direction: column;
  padding: 2.28em;
  background-color: $secondary-bg-color;

  &_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar {
      font-size: 2.28rem;
      width: 3.13em;
      height: 3.13em;
      margin-bottom: 0.875em;
    }

    .name {
      font-size: 1.71rem;
      margin-bottom: 0.17em;
      letter-spacing: 0.5px;
    }

    .about {
      font-size: 1rem;
      letter-spacing: 0.5px;
      color: $secondary-text-color;
    }
  }

  &_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.42em;
    @include vertically-spaced-out(16px);

    .user-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .label {
        font-size: 1.07rem;
        flex: 1;
        color: $secondary-text-color;
      }
      .value {
        font-size: 1.07rem;
        flex: 1.5;
      }
    }
  }
}
