@import '../../../global/style/variables', '../../../global/style/mixins';

$root: '.contact-form';

#{$root} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.71em;
  @include vertically-spaced-out(1.71em);

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .description {
      font-size: 1rem;
      color: $secondary-text-color;
      letter-spacing: 0.5px;
    }

    .error-message {
      font-size: 0.85rem;
      position: absolute;
      top: 14%;
      color: $error-text-color;
    }
  }

  &_body {
    @include vertically-spaced-out(0.57em);
  }
}
