@import '../../global/style/variables';

$root: '.header';

#{$root} {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 3.57em;
  background: $primary-bg-color;
  box-shadow: $header-box-shadow;

  svg {
    color: $primary-svg-color;
    width: 2em;
    height: 2em;
    margin: 0.71em;
    cursor: pointer;

    @media screen and (min-width: $small-device-width) {
      display: none;
    }
  }
}
