$primary-theme-color: rgb(226, 108, 30);
$secondary-theme-color: rgb(233, 101, 167);

$primary-bg-color: #ffffff;
$secondary-bg-color: #7b7b7b24;
$select-bg-color: #ecf5ff;
$hover-bg-color: #f9fbff;
$error-bg-color: #f6ebe8;

$primary-text-color: #ffffff;
$secondary-text-color: #7b7b7b;
$ternary-text-color: #303030;
$error-text-color: #d0021b;

$primary-svg-color: #e66875;
$seconday-svg-color: #ffffff;

$header-box-shadow: 00 7px 9px 0 rgba(0, 0, 0, 0.1);

$small-device-width: 426px;
